
<%= simple_form_for(@config) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, collection: ['locale'], selected: 'locale', include_blank: false %>
    <%= f.input :config_value, collection: Config.config_values.keys, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
